<%- include('navbar'); -%> <%- include ("sidebar"); -%>


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HTML5 Login Form with validation Example</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="./style.css" />
    <style>
      #login-form-wrap {
        background-color: #fff;
        width: 35%;
        margin: 30px auto;
        text-align: center;
        padding: 20px 0 0 0;
        border-radius: 17px;
        box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
        margin-top: 30px;
      }

      .login_block {
        margin-top: 10%;
      }
      .button-22 {
        align-items: center;
        appearance: button;
        background-color: #0276FF;
        border-radius: 8px;
        border-style: none;
        box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        font-family: "RM Neue",sans-serif;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
        padding: 10px 21px;
        text-align: center;
        text-transform: none;
        transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin: auto;
      }
      
      .button-22:active {
        background-color: #006AE8;
      }
      
      .button-22:hover {
        background-color: #1C84FF;
      }
    </style>
  </head>
  <body>
    <div class="login_block">
      <div id="login-form-wrap">
        <h2>Breach Checker</h2>
        <form id="login-form">
          <p>
            <input
              type="text"
              id="username"
              name="username"
              placeholder="id"
              required
            /><i class="validation"><span></span><span></span></i>
          </p>
          <p>
            <input
              type="text"
              id="email"
              name="email"
              placeholder="Title"
              required
            /><i class="validation"><span></span><span></span></i>
          </p>
          <p>
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Website"
              required
            /><i class="validation"><span></span><span></span></i>
          </p>
          <p>
            <input
              type="text"
              id="email"
              name="email"
              placeholder="Website Username"
              required
            /><i class="validation"><span></span><span></span></i>
          </p>
          <p>
            <input
              type="text"
              id="email"
              name="email"
              placeholder="Password"
              required
            /><i class="validation"><span></span><span></span></i>
          </p>

          <p>
            <h5 id="result">Result Here</h5>
          </p>
          <p>
<button class="button-22" role="button">Show Result</button>
          </p>
        </form>
        <div id="create-account-wrap">
          <p>Insert the Info to add the user</p>
          <p></p>
        </div>

        
      </div>
      
    </div>
  </body>
</html>
