<%- include('navbar'); -%> <%- include('sidebar'); -%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      .container1 {
        margin: 5% 3%;
      }
      @media (min-width: 48em) {
        .container1 {
          margin: 2%;
        }
      }
      @media (min-width: 75em) {
        .container1 {
          margin: 2em auto;
          max-width: 75em;
        }
      }

      .responsive-table1 {
        width: 100%;
        margin-bottom: 1.5em;
        border-spacing: 0;
      }
      @media (min-width: 48em) {
        .responsive-table1 {
          font-size: 0.9em;
        }
      }
      @media (min-width: 62em) {
        .responsive-table1 {
          font-size: 1em;
        }
      }
      .responsive-table1 thead {
        position: absolute;
        clip: rect(1px 1px 1px 1px);
        /* IE6, IE7 */
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
        z-index: -1;
      }
      @media (min-width: 48em) {
        .responsive-table1 thead {
          position: relative;
          clip: auto;
          height: auto;
          width: auto;
          overflow: auto;
        }
      }
      .responsive-table1 thead th {
        background-color: #26890d;
        border: 1px solid #86bc25;
        font-weight: normal;
        text-align: center;
        color: white;
      }
      .responsive-table1 thead th:first-of-type {
        text-align: left;
      }
      .responsive-table1 tbody,
      .responsive-table1 tr,
      .responsive-table1 th,
      .responsive-table1 td {
        display: block;
        padding: 0;
        text-align: left;
        white-space: normal;
      }
      @media (min-width: 48em) {
        .responsive-table1 tr {
          display: table-row;
        }
      }
      .responsive-table1 th,
      .responsive-table1 td {
        padding: 0.5em;
        vertical-align: middle;
      }
      @media (min-width: 30em) {
        .responsive-table1 th,
        .responsive-table1 td {
          padding: 0.75em 0.5em;
        }
      }
      @media (min-width: 48em) {
        .responsive-table1 th,
        .responsive-table1 td {
          display: table-cell;
          padding: 0.5em;
        }
      }
      @media (min-width: 62em) {
        .responsive-table1 th,
        .responsive-table1 td {
          padding: 0.75em 0.5em;
        }
      }
      @media (min-width: 75em) {
        .responsive-table1 th,
        .responsive-table1 td {
          padding: 0.75em;
        }
      }
      .responsive-table1 caption {
        margin-bottom: 1em;
        font-size: 1em;
        font-weight: bold;
        text-align: center;
      }
      @media (min-width: 48em) {
        .responsive-table1 caption {
          font-size: 1.5em;
        }
      }
      .responsive-table1 tfoot {
        font-size: 0.8em;
        font-style: italic;
      }
      @media (min-width: 62em) {
        .responsive-table1 tfoot {
          font-size: 0.9em;
        }
      }
      @media (min-width: 48em) {
        .responsive-table1 tbody {
          display: table-row-group;
        }
      }
      .responsive-table1 tbody tr {
        margin-bottom: 1em;
      }
      @media (min-width: 48em) {
        .responsive-table1 tbody tr {
          display: table-row;
          border-width: 1px;
        }
      }
      .responsive-table1 tbody tr:last-of-type {
        margin-bottom: 0;
      }
      @media (min-width: 48em) {
        .responsive-table1 tbody tr:nth-of-type(even) {
          background-color: rgba(0, 0, 0, 0.12);
        }
      }
      .responsive-table1 tbody th[scope="row"] {
        background-color: #26890d;
        color: white;
      }
      @media (min-width: 30em) {
        .responsive-table1 tbody th[scope="row"] {
          border-left: 1px solid #86bc25;
          border-bottom: 1px solid #86bc25;
        }
      }
      @media (min-width: 48em) {
        .responsive-table1 tbody th[scope="row"] {
          background-color: transparent;
          color: #000001;
          text-align: left;
        }
      }
      .responsive-table1 tbody td {
        text-align: right;
      }
      @media (min-width: 48em) {
        .responsive-table1 tbody td {
          border-left: 1px solid #86bc25;
          border-bottom: 1px solid #86bc25;
          text-align: center;
        }
      }
      @media (min-width: 48em) {
        .responsive-table1 tbody td:last-of-type {
          border-right: 1px solid #86bc25;
        }
      }
      .responsive-table1 tbody td[data-type="currency"] {
        text-align: right;
      }
      .responsive-table1 tbody td[data-title]:before {
        content: attr(data-title);
        float: left;
        font-size: 0.8em;
        color: rgba(0, 0, 0, 0.54);
      }
      @media (min-width: 30em) {
        .responsive-table1 tbody td[data-title]:before {
          font-size: 0.9em;
        }
      }
      @media (min-width: 48em) {
        .responsive-table1 tbody td[data-title]:before {
          content: none;
        }
      }

      .container1 {
        margin-top: 7%;
      }
      .responsive-table1 tbody td[data-type="currency"] {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container1">
      <table class="responsive-table1">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Title</th>
            <th scope="col">Website</th>
            <th scope="col">Website_Username</th>
            <th scope="col">Password</th>
            <th scope="col">Strength</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row">11</th>
            <td data-title="Username" class="tabledata">anant</td>
            <td data-title="Title">c1</td>
            <td data-title="website" data-type="currency" class="tabledata">
              www.google.co.in
            </td>
            <td
              data-title="website_username"
              data-type="currency"
              class="tabledata"
            >
              anant1
            </td>
            <td data-title="password" data-type="currency" class="tabledata">
              12345
            </td>
            <td data-title="strength" data-type="currency" class="tabledata">
              Very Strong
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
