<%- include('navbar'); -%> <%- include ("sidebar"); -%>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <style>
      .passgen3 {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background: #4285f4;
      }

      .container3 {
        width: 450px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
        display: flex;
        margin: auto;
      }
      .container3 h2 {
        font-weight: 600;
        font-size: 1.31rem;
        padding: 1rem 1.75rem;
        border-bottom: 1px solid #d4dbe5;
      }
      .wrapper3 {
        margin: 1.25rem 1.75rem;
      }
      .wrapper3 .input-box3 {
        position: relative;
      }
      .input-box3 input {
        width: 100%;
        height: 53px;
        color: #000;
        background: none;
        font-size: 1.06rem;
        font-weight: 500;
        border-radius: 4px;
        letter-spacing: 1.4px;
        border: 1px solid #aaa;
        padding: 0 2.85rem 0 1rem;
      }
      .input-box3 span {
        position: absolute;
        right: 13px;
        cursor: pointer;
        line-height: 53px;
        color: #707070;
      }
      .input-box3 span:hover {
        color: #4285f4 !important;
      }
      .wrapper3 .pass-indicator3 {
        width: 100%;
        height: 4px;
        position: relative;
        background: #dfdfdf;
        margin-top: 0.75rem;
        border-radius: 25px;
      }
      .pass-indicator3::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 50%;
        border-radius: inherit;
        transition: width 0.3s ease;
      }
      .pass-indicator3#weak3::before {
        width: 20%;
        background: #e64a4a;
      }
      .pass-indicator3#medium3::before {
        width: 50%;
        background: #f1c80b;
      }
      .pass-indicator3#strong::before {
        width: 100%;
        background: #4285f4;
      }
      .wrapper3 .pass-length3 {
        margin: 1.56rem 0 1.25rem;
      }
      .pass-length3 .details3 {
        display: flex;
        justify-content: space-between;
      }
      .pass-length3 input {
        width: 100%;
        height: 5px;
      }
      .pass-settings3 .options3 {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        margin-top: 1rem;
      }
      .pass-settings3 .options3 .option3 {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        width: calc(100% / 2);
      }
      .options3 .option3:first-child {
        pointer-events: none;
      }
      .options3 .option3:first-child input {
        opacity: 0.7;
      }
      .options3 .option3 input {
        height: 16px;
        width: 16px;
        cursor: pointer;
      }
      .options3 .option3 label {
        cursor: pointer;
        color: #4f4f4f;
        padding-left: 0.63rem;
      }
      .wrapper3 .generate-btn3 {
        width: 100%;
        color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        background: #4285f4;
        font-size: 1.06rem;
        padding: 0.94rem 0;
        border-radius: 5px;
        text-transform: uppercase;
        margin: 0.94rem 0 1.3rem;
      }
      .wrapper3 {
        margin-top: 150px;
      }
      #passgenheading3 {
        color: brown;
        text-align: center;
        text-align: center;
      }
      .headingofpasswordgen {
        font-weight: 600;
        font-size: 1.31rem;
        padding: 1rem 1.75rem;
        border-bottom: 1px solid #d4dbe5;
        padding: 0;
        line-height: 2;
      }

      /* Please ❤ this if you like it! */

      .SelectionMenu {
        display: flex;
        flex-direction: column;
        margin-block: 8px;
      }

      select {
        border-radius: 10px;
        text-align: center;
        font-size: 21px;
        background-color: aliceblue;
      }
    </style>
  </head>
  <body id="passgen3">
    <div class="container3">
      <div class="wrapper3">
        <h2 id="passgenheading3">Password Generator</h2>

        <div class="input-box3">
          <input type="text" disabled />
          <span class="material-symbols-rounded">copy_all</span>
        </div>
        <div class="pass-indicator3"></div>
        <div class="pass-length3">
          <div class="details3">
            <label class="title3">Password Length</label>
            <span>32</span>
          </div>
          <input type="range" min="1" max="30" value="15" step="1" />
        </div>
        <div class="SelectionMenu">
          <label class="title3">Password Type</label>
          <select name="" id="">
            <option value="1">Memorable Password</option>
            <option value="2">Random Password</option>
          </select>
        </div>

        <div class="pass-settings3">
          <label class="title3">Password Settings</label>
          <ul class="options3">
            <li class="option3">
              <input type="checkbox" id="uppercase" />
              <label for="uppercase">Capitalize (A-Z)</label>
            </li>
            <li class="option3">
              <input type="checkbox" id="numbers" />
              <label for="numbers">Numbers (0-9)</label>
            </li>
            <li class="option3">
              <input type="checkbox" id="symbols" />
              <label for="symbols">Symbols (!-$^+)</label>
            </li>
          </ul>
        </div>
        <button class="generate-btn3">Generate Password</button>
      </div>
    </div>
  </body>
</html>
