<%- include('navbar'); -%> <%- include ("sidebar"); -%>
<style>
  /* CSS */
  .button-43 {
    background-image: linear-gradient(-180deg, #37aee2 0%, #1e96c8 100%);
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 1rem 1.75rem;
    text-decoration: none;
    width: 100%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 8%;
    line-height: 1;
    width: max-content;
    margin-inline: auto;
    margin-bottom: -73px;
  }
  .button-43:hover {
    background-image: linear-gradient(-180deg, #1d95c9 0%, #17759c 100%);
  }

  @media (min-width: 768px) {
    .button-43 {
      padding: 1rem 2rem;
    }
  }
</style>
<button class="button-43" role="button">Add User</button>
<%- include ("adduser"); -%> <%- include ("credentials"); -%>
